html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
h1 {
    color: white;
    /* font-family: 'Markazi Text', serif; */
    font-family: 'Teko', sans-serif;
    font-size: 7em;
    text-align: center;
    padding: 1em 0 3em 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
    margin-left: 3em;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: greenyellow;
}
#text1 {
    margin-bottom: 200px;
}
#text2 {
    padding-top: 2em;
}
.gridContainer {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: 50% 50%;
    align-content: center;
    padding: 2em;
	align-items: center;
	justify-content: center;
}
#myInputs {
    font-size: 0.6em;
    margin-bottom: 4em;
}
.inputs {
    width: 60vw;
    margin-left: 22%;
}
#myContainer {
    margin-bottom: 5em;
}
footer {
    padding: 2em 2em;
    color: white;
    text-align: center;
    font-size: 1.5wh;
}